## Задание № 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class.

In [11]:
import pandas as pd

data = pd.read_csv('u1.base', names = ['номер фильма', 'номер голоса', 'оценка', 'id'], sep = '\t', header=0)
data.head()

def column_of_class(row):
    """Классификатор для фильмов"""
    if row['оценка'] <= 2:
        return 'Низкий рейтинг'
    if 2 < row['оценка'] <= 4:
        return 'Cредний рейтинг'
    if 4.5 <= row['оценка'] <= 5:
        return 'Высокий рейтинг'

data['class'] = data.apply(column_of_class, axis=1)
data.head(15)

    номер фильма  номер голоса  оценка         id            class
0              1             2       3  876893171  Cредний рейтинг
1              1             3       4  878542960  Cредний рейтинг
2              1             4       3  876893119  Cредний рейтинг
3              1             5       3  889751712  Cредний рейтинг
4              1             7       4  875071561  Cредний рейтинг
5              1             8       1  875072484   Низкий рейтинг
6              1             9       5  878543541  Высокий рейтинг
7              1            11       2  875072262   Низкий рейтинг
8              1            13       5  875071805  Высокий рейтинг
9              1            15       5  875071608  Высокий рейтинг
10             1            16       5  878543541  Высокий рейтинг
11             1            18       4  887432020  Cредний рейтинг
12             1            19       5  875071515  Высокий рейтинг
13             1            21       1  878542772   Низкий рейтинг
14             1            22       4  875072404  Cредний рейтинг

## Задание № 2

Используем файл keywords.csv.

In [19]:
import pandas as pd

data = pd.read_csv('keywords.csv')
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [46]:
import pandas as pd

data = pd.read_csv('keywords.csv')

def column_of_region(row): 
    if ('москва' in row['keyword']) | ('тула' in row['keyword']) | ('ярославль' in row['keyword']):
        return 'Центр'
    if ('петербург' in row['keyword']) | ('псков' in row['keyword']) | ('мурманск' in row['keyword']):
        return 'Северо-запад'
    if ('владивосток' in row['keyword']) | ('сахалин' in row['keyword']) | ('хабаровск' in row['keyword']):
        return 'Дальний восток'
    else: 
        return 'undefined'

data['region'] = data.apply(column_of_region, axis=1)
data.head(128)

               keyword     shows     region
0                   вк  64292779  undefined
1        одноклассники  63810309  undefined
2                порно  41747114  undefined
3                 ютуб  39995567  undefined
4            вконтакте  21014195  undefined
..                 ...       ...        ...
123              avito    984448  undefined
124  викинг фильм 2017    984999  undefined
125    школьный портал    982692  undefined
126    вк моя страница    979105  undefined
127       авито москва    979292      Центр

[128 rows x 3 columns]